doctype html
html
  head
    include includes/head.pug
    
  body
    .d-flex.justify-content-center.text-center
      div
        h1 Diligence
        br
        h2 Login
        br
        form(action='/login' method='post')
          input(type='text' name='username' placeholder='username')
          input(type='password' name='password' placeholder='password')
          input(type='submit')
  
  include includes/bootstrap.pug